# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- List popular languages for Data Science
- List the commonly used libraries used in Data Scientists
- List the Data Science Tools
- List different examples of arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are: 
- Python
- R
- SQL
- Julia
- Scala
- JavaScript
- C++
- C
- Java

#### Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Pandas
- PyTorch
- SciPy
- TensorFlow
- Keras
- Matplotlib

| Data Science Tools | 
|:--------:|
|  RStudio  | 
|  Apache Spark   |
|  Apache Hadoop  |
|Jupyter Notebooks|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
5 + 2
#Result 7

In [ ]:
5 * 2
#result 10

In [9]:
6 / 2
#result 3

3.0

In [ ]:
3 > 6
#Result False

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5
#Result 17

17

This will convert 200 minutes to hours by diving by 60

In [8]:
200/60
#Result 3.3333333333333335

3.3333333333333335

## Author
María Teresa Peña